{# src/Sdz/BlogBundle/Ressources/views/Blog/index.html.twig #}

{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block sdzblog_body %}

    <h2>Article list</h2>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{{ path('sdzblog_see', {'id': article.id}) }}">{{ article.title }}</a>
                by {{ article.author }},
                in {{ article.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>No articles</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <ul>
            {% for p in range(1, pageNumber) %}
              <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('sdzblog_index', {'page': p}) }}">{{ p }}</a>
              </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
